.offboarding-form__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  mat-form-field {
    width: 100%;
  }

  .offboarding-form__city-group {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 1rem;

      mat-form-field:first-child {
        flex: 2;
      }

      mat-form-field:last-child {
        flex: 1;
      }
    }
  }
}
