@use "./assets/reset.scss";
@use "./assets/theme.scss";
@use "./assets/variables.scss";
@use "ngx-toastr/toastr";

html,
body,
eob-root {
  min-height: 100dvh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
