.offboarding-dashboard-page__container {
  margin: 0 auto;
  max-width: var(--content-width);
  padding-block: 2rem;
  padding-inline: 1rem;
  height: calc(100dvh - var(--header-height));
  display: flex;
  flex-direction: column;

  eob-offboarding-employee-list {
    padding-block-end: 1rem;
  }
}

.offboarding-dashboard-page__header {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.offboarding-dashboard-page__loading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.offboarding-dashboard-page__no-employees {
  margin-block: 5rem;
  text-align: center;
}
