<div class="offboarding-employee-detail__container">
  <div class="offboarding-employee-detail__header">
    <a [routerLink]="['../']" mat-button>
      <mat-icon>chevron_left</mat-icon>
      Back
    </a>
  </div>

  @if (employee(); as employee) {
    <div class="offboarding-employee-detail__employee">
      <h1 class="text-3xl font-bold">{{ employee.name }}</h1>
      <button
        mat-flat-button
        [disabled]="isAlreadyOffboarded()"
        (click)="openDialog()"
      >
        Offboard
      </button>
    </div>
    <div class="offboarding-employee-detail__employee-details">
      <h2 class="text-2xl font-bold">Employee details</h2>
      <p><strong>Name:</strong> {{ employee.name }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Department:</strong> {{ employee.department }}</p>
    </div>

    <div class="offboarding-employee-detail__equipment-details">
      <h2 class="text-2xl font-bold">Equipment details</h2>
      <h3 class="text-xl font-bold">Items to return</h3>
      @for (equipment of employee.equipments; track equipment.id) {
        <p>{{ equipment.name }}</p>
      }
    </div>
  } @else if (isLoading()) {
    <eob-loader
      size="large"
      class="offboarding-employee-detail-page__loading"
      data-testid="offboarding-employee-detail-page-loader"
    />
  } @else {
    <p class="offboarding-employee-detail-page__no-employee">
      No employee found
    </p>
  }
</div>
