<h2 mat-dialog-title>Offboard</h2>
<mat-dialog-content class="mat-typography">
  <eob-offboarding-form />

  @if (isError()) {
    <p>Error: {{ error() }}</p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>

  @if (isLoading()) {
    <button mat-button [disabled]="true">
      <eob-loader size="small" />
    </button>
  } @else if (hasSubmitted()) {
    <button mat-button [disabled]="true">Saved</button>
  } @else {
    <button
      mat-button
      [disabled]="!offboardingForm().form.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  }
</mat-dialog-actions>
